<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="serialPortName" value="COM1" />
        <add key="serialPortBaudios" value="9600" />
        <add key="serialPortBitsDatos" value="7" />
        <add key="serialPortParity" value="0" />
        <add key="serialPortBitsStopBits" value="1" />
        <add key="serialPortHandshake" value="None" />
        <add key="serialPortEncoding" value="US-ASCII" />
        <add key="serialPortNewLine" value="0D-0A" />
        <add key="serialPortReadTimeout" value="800" />
    </appSettings>
</configuration>